#name, #clas
{
    text-transform:capitalize;
}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 34px;
    background-color: #337ab7;
}
.blue {
    background-color: #337ab7;
    width:100%;
}
.py-3 {
    color: white;
    padding: 7px 0px;
}
.stable {
    width: 50%;
    margin-bottom: 20px;
}
.table>tbody>tr>td {
    padding: 4px 7px;
}

.del {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 400;
}

.edit {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 400;
}  
.subbtn {
    padding-left: 15px;
}
.search-box {
    padding-left: 55%;
}
.lodmore {
    margin: 0 auto;
    display: table;
}
#tableData  {
    margin: 0 auto;
    display: table;
}
.lod-mor {
    margin-left: 86%;
    margin-bottom: -1%;
}
hr {
    border-top: 1px solid #040404;
}
.error-mess {
    color: red;
    background-color: #f1dadd;
    text-align: center;
}
.success-mess {
    color: green;
    background-color: #ddf5dd;
    text-align: center;
}
.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.search-box-box {
    padding-left: 79%;
}
.search-input {
    width: 188px;
}
.dbtn {
    padding-bottom: 3px;
}
